using Microsoft.AspNetCore.Components;

public partial class Calculator[b-p7drw9v2hl] {
    public double Num1

{
    get;
    set;
}

public double Num2[b-p7drw9v2hl] {
    get;
    set;
}

public double Result[b-p7drw9v2hl] {
    get;
    set;
}

void Add() = > Result = Num1 + Num2;
void Subtract() = > Result = Num1 - Num2;
void Multiply() = > Result = Num1 * Num2;
void Divide() = > Result = Num2 != 0 ? Num1 / Num2 : 0;[b-p7drw9v2hl]
}
le Result[b-p7drw9v2hl] {
    get;
    set;
}

void Add() = > Result = Num1 + Num2;
void Subtract() = > Result = Num1 - Num2;
void Multiply() = > Result = Num1 * Num2;
void Divide() = > Result = Num2 != 0 ? Num1 / Num2 : 0;[b-p7drw9v2hl]
}
