<div class="card p-3 m-2 shadow-sm text-center">
    <h5 class="text-danger">@Name</h5>
    <p>@Ingredients</p>
    <strong>Rs. @Price</strong>
</div>

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public string Ingredients { get; set; }
    [Parameter] public double Price { get; set; }
}
