<div class="card m-3 shadow" style="width: 220px;">
    <img src="@Image" class="card-img-top" style="height:150px; object-fit:cover;" />
    <div class="card-body text-center">
        <h5>@Name</h5>
        <p class="text-success">Rs. @Price</p>
        <p>❤️ @Likes Likes</p>
    </div>
</div>

@code {
    [Parameter] public string Image { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public double Price { get; set; }
    [Parameter] public int Likes { get; set; }
}
