<div class="card m-2" style="width: 200px;">
    <img src="@Image" class="card-img-top" />
    <div class="card-body text-center">
        <h5>@Name</h5>
        <p>Rs. @Price</p>
        <p>❤️ @Likes</p>
    </div>
</div>

@code {
    [Parameter] public string Image { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public double Price { get; set; }
    [Parameter] public int Likes { get; set; }
}
