@page "/calculator"

<h3>Calculator</h3>

<input type="number" @bind="Num1" />
<input type="number" @bind="Num2" />

<div class="mt-2">
    <button @onclick="Add">+</button>
    <button @onclick="Subtract">-</button>
    <button @onclick="Multiply">*</button>
    <button @onclick="Divide">/</button>
</div>

<p>Result: @Result</p>

<p>Result: @result</p>

@code {
    double num1, num2, result;

    void Add() => result = num1 + num2;
    void Subtract() => result = num1 - num2;
    void Multiply() => result = num1 * num2;
    void Divide() => result = num2 != 0 ? num1 / num2 : 0;
}
-3">Result: @Result</h4>
