using Microsoft.AspNetCore.Components;

public partial class Calculator {
    public double Num1

{
    get;
    set;
}

public double Num2 {
    get;
    set;
}

public double Result {
    get;
    set;
}

void Add() = > Result = Num1 + Num2;
void Subtract() = > Result = Num1 - Num2;
void Multiply() = > Result = Num1 * Num2;
void Divide() = > Result = Num2 != 0 ? Num1 / Num2 : 0;
}
